# 24th feb,2023 Assignment ---------------------------- Shivam Tyagi

Q1. List any five functions of the pandas library with execution.

In [ ]:
read_csv(): This function helps read a comma-separated values (csv) file into a Pandas DataFrame.

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
head(): head(n) is used to return the first n rows of a dataset. By default, df.head() will return the first 5 rows 
        of the DataFrame.

In [2]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
describe(): It is used to generate descriptive statistics of the data in a Pandas DataFrame or Series. It summarizes 
            central tendency and dispersion of the dataset. describe() helps in getting a quick overview of the 
            dataset.

In [3]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
memory_usage(): It returns a Pandas Series having the memory usage of each column (in bytes) in a Pandas DataFrame. 
                By specifying the deep attribute as True, we can get to know the actual space being taken by each 
                column.

In [5]:
df.memory_usage()

Index           128
PassengerId    7128
Survived       7128
Pclass         7128
Name           7128
Sex            7128
Age            7128
SibSp          7128
Parch          7128
Ticket         7128
Fare           7128
Cabin          7128
Embarked       7128
dtype: int64

In [ ]:
groupby(): It is used to group a Pandas DataFrame by 1 or more columns, and perform some mathematical operation on it.
           groupby() can be used to summarize data in a simple manner.

In [8]:
df.groupby(by="Age")

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [14]:
def reindex_dataframe(df):
    new_index=pd.Index(range(1,2*len(df)+1,2))
    df=df.set_index(new_index)
    return df

In [15]:
df= pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]})
df=reindex_dataframe(df)

In [16]:
df

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [27]:
def sum(df):
    total=0
    for i,row in df.iterrows():
        if i<3:
            total=total+row['values']
    print("the sum of the first three values, which is ",total)

In [29]:
df=pd.DataFrame({"values":[10,20,30,40,50]})
sum(df)

the sum of the first three values, which is  60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [30]:
def count(df):
    df['word_count']=df['Text'].apply(lambda x:len(str((x).split(" "))))
    return df

In [31]:
df = pd.DataFrame({'Text':["first row","this is my second row","finally this s my third row yup"]})
df=count(df)
print(df)

                              Text  word_count
0                        first row          16
1            this is my second row          37
2  finally this s my third row yup          53

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
DataFrame.size() returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the 
                    number of columns. In other words, it returns the total number of cells in the DataFrame.

DataFrame.shape() returns a tuple that contains the number of rows and columns in the DataFrame. The first element of the tuple 
                    is the number of rows, and the second element is the number of columns.

In [1]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print("DataFrame size:", df.size)
print("DataFrame shape:", df.shape)

DataFrame size: 9
DataFrame shape: (3, 3)

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
The function of pandas that is used to read an Excel file is read_excel().

example:

import pandas as pd
# Read Excel file into a Pandas DataFrame
df = pd.read_excel('example.xlsx')
# Display the DataFrame
print(df)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [2]:
def extract_username(df):
    # Split the 'Email' column into two parts: the username and the domain
    df[['Username', 'Domain']] = df['Email'].str.split('@', expand=True)

    # Return the updated DataFrame
    return df

In [3]:
# Create a sample DataFrame
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.doe@example.com', 'james.smith@example.com']})

# Call the function to extract the usernames
df = extract_username(df)

# Display the updated DataFrame
print(df)

                     Email     Username       Domain
0     john.doe@example.com     john.doe  example.com
1     jane.doe@example.com     jane.doe  example.com
2  james.smith@example.com  james.smith  example.com

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [4]:
def select_rows(df):
    # Use boolean indexing to select rows where 'A' > 5 and 'B' < 10
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]

    # Return the new DataFrame with the selected rows
    return selected_rows

In [5]:
# Create a sample DataFrame
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

# Call the function to select the rows
selected_rows = select_rows(df)

# Display the selected rows
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [6]:
def calculate_stats(df):
    # Calculate the mean, median, and standard deviation of the 'Values' column
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()

    # Print the statistics to the console
    print("Mean:", mean)
    print("Median:", median)
    print("Standard deviation:", std_dev)

In [7]:
# Create a sample DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Call the function to calculate the statistics
calculate_stats(df)

Mean: 30.0
Median: 30.0
Standard deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [8]:
def calculate_moving_average(df):
    # Calculate the moving average of the 'Sales' column with a window of size 7
    ma = df['Sales'].rolling(window=7, min_periods=1).mean()

    # Add the moving average as a new column in the DataFrame
    df['MovingAverage'] = ma

    # Return the modified DataFrame
    return df

In [9]:
# Create a sample DataFrame
df = pd.DataFrame({'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
                   'Date': pd.date_range(start='2022-01-01', periods=10, freq='D')})

# Call the function to calculate the moving average
df = calculate_moving_average(df)

# Print the modified DataFrame with the new 'MovingAverage' column
print(df)

   Sales       Date  MovingAverage
0     10 2022-01-01           10.0
1     20 2022-01-02           15.0
2     30 2022-01-03           20.0
3     40 2022-01-04           25.0
4     50 2022-01-05           30.0
5     60 2022-01-06           35.0
6     70 2022-01-07           40.0
7     80 2022-01-08           50.0
8     90 2022-01-09           60.0
9    100 2022-01-10           70.0

In [ ]:
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [10]:
def add_weekday(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

In [11]:
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df['Date'] = pd.to_datetime(df['Date'])
df = add_weekday(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [12]:
def select_rows_by_date(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df.loc[mask]

In [ ]:
You can pass your DataFrame df to this function and it will return a new DataFrame that contains only the rows where the date 
is between '2023-01-01' and '2023-01-31'.

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [ ]:
The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. 
We can import it using the following command:
        
import pandas as pd

# Name:Shivam Tyagi

# E-mail:shivam1612tygai@gmail.com

# Thank you!!