# 15th April,2023 Assignment ---------------------- Shivam Tyagi

#### Q1. You are working on a machine learning project where you have a dataset containing numerical and categorical features. You have identified that some of the features are highly correlated and there are missing values #n some of the columns. You want to build a pipeline that automates the feature engineering process and handles the missing values.


#### Design a pipeline that includes the following steps:

- Use an automated feature selection method to identify the important features in the dataset.

- Create a numerical pipeline that includes the following steps:

- Impute the missing values in the numerical columns using the mean of the column values.

- Scale the numerical columns using standardisation.

- Create a categorical pipeline that includes the following steps:

- Impute the missing values in the categorical columns using the most frequent value of the column.

- One-hot encode the categorical columns.

- Combine the numerical and categorical pipelines using a ColumnTransformer.

- Use a Random Forest Classifier to bu#ld the final model.

- Evaluate the accuracy of the model on the test dataset.

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
encoder = LabelEncoder()
df['time'] = encoder.fit_transform(df['time'])

In [5]:
y = df.pop('time')
X = df

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [7]:
categorical_cols = ['sex', 'smoker','day']
numerical_cols = ['total_bill', 'tip','size']

In [8]:
# numerical Pipelines
num_pipeline = Pipeline(
    steps = [
        ('imputer', SimpleImputer(strategy = 'mean')), 
        ('scaler', StandardScaler())
    ])

In [9]:
# categorical Pipeline
cat_pipeline = Pipeline(
    steps = [
        ('imputer', SimpleImputer(strategy = 'most_frequent')),
        ('onehotencoder', OneHotEncoder())
    ])

In [10]:
preprocessor = ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_cols),
    ('cat_pipeline',cat_pipeline,categorical_cols)
])

In [11]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [12]:
model = RandomForestClassifier()

model.fit(X_train, y_train)
y_test_pred = model.predict(X_test)

In [13]:
test_model_score = accuracy_score(y_test, y_test_pred)
print(test_model_score)

0.972972972972973

#### Q2. Build a pipeline that includes a random forest classifier and a logistic regression classifier, and then use a voting classifier to combine their predictions. Train the pipeline on the iris dataset and evaluate its accuracy.

In [14]:
df=pd.read_csv("Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
encoder = LabelEncoder()
df['Species'] = encoder.fit_transform(df['Species'])

In [17]:
y = df.pop('Species')
X = df

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=12)

In [19]:
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression

In [20]:
clf1 = LogisticRegression()
clf2 = RandomForestClassifier()

In [21]:
voting_clf = VotingClassifier(estimators=[('lr', clf1), ('rf', clf2)], voting='hard')

In [22]:
voting_clf = voting_clf.fit(X_train, y_train)

In [23]:
y_preds = voting_clf.predict(X_test)

In [24]:
score = accuracy_score(y_test,y_preds)
print(score)

1.0