# 25th feb,2023 Assignmnet ---------------------------------- Shivam Tyagi

In [ ]:
Consider following code to answer further questions:

import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

In [3]:
import pandas as pd
course_name = ['Data Science','Machine Learning','Big Data','Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, "duration" : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [4]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [ ]:
Ans-

Both loc and iloc are used to select rows and columns from a pandas DataFrame, but they differ in how they use the indices to 
make the selection:

loc is used to select data by label/index name. 
For example: 
df.loc[0:2, 'column_name'] selects the rows with indices 0, 1, and 2 and the column with label 'column_name'.

iloc is used to select data by integer position. 
For example: 
df.iloc[0:2, 0:2] selects the first two rows and first two columns of the DataFrame based on their integer positions 
(0 and 1 for the rows, and 0 and 1 for the columns).

In summary, loc is based on label/index names, whereas iloc is based on integer positions.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:x

In [5]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [6]:
reindex = [3,0,1,2]
new_df = df1.reindex(index=reindex)

In [7]:
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.900364  0.531486  0.116110  0.352687  0.645642  0.430229
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.940311  0.328969  0.136002  0.309950  0.973648  0.633182
2  0.286161  0.337324  0.928997  0.772554  0.654536  0.552508

In [ ]:
This will create a new dataframe new_df with the rows reindexed according to the reindex variable.

Now, to find the output for new_df.loc[2] and new_df.iloc[2], we can use the loc and iloc functions respectively.

print(new_df.loc[2])
print(new_df.iloc[2])

The output for new_df.loc[2] and new_df.iloc[2] will be different because loc uses the index label to locate a row, while iloc uses the numerical index of the row. In this case, since we have reindexed the dataframe, the index label and numerical index of the rows are different.

If we observe the outputs, new_df.loc[2] will return the row with index label 2, which was originally at index position 2 in df1. On the other hand, new_df.iloc[2] will return the row at index position 2 in new_df, which corresponds to the row with index label 1 in df1. Therefore, there is a difference in the outputs of loc and iloc functions.

Q.4 Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [8]:
import pandas as pd
import numpy as np

# Define the dataframe
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Mean of each column
print("Mean of each column:\n", df1.mean())

# Standard deviation of column_2
print("\nStandard deviation of column_2:", df1['column_2'].std())

Mean of each column:
 column_1    0.474361
column_2    0.621100
column_3    0.434232
column_4    0.398640
column_5    0.580858
column_6    0.332703
dtype: float64

Standard deviation of column_2: 0.28533910168722676

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [9]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

# Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# Replacing the value in the second row of column_2
df1.loc[2, 'column_2'] = 'string_value'

# Calculating the mean of column_2
mean_column_2 = df1['column_2'].mean()

print('Mean of column_2 after replacing the value:', mean_column_2)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
Note: We get an error if the data type of the column is not compatible with the string value being used for replacement. 
For example, if the column contains numeric data and we try to replace it with a string value, we may get a "TypeError: can only
concatenate str (not "float") to str".
In such cases, we need to ensure that the replacement value is of the same data type as the existing values in the column.

In [ ]:
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?
Ans-
In Pandas, a window function is a function that allows the calculation of a value over a sliding window of data. A window function can be applied to a specific column of a DataFrame and produces a new column with the result of the function applied to each element of the sliding window. The window is defined by a set of rows around the current row being operated on.
    
There are several types of window functions available in Pandas:

1.Rolling Window: This function creates a window of a fixed size and then slides it over the data to calculate aggregates. Examples of rolling window functions include rolling_mean(), rolling_sum(), and rolling_std().

2.Expanding Window: This function starts with a window of a single data point and then expands it to include more data points. Examples of expanding window functions include expanding_sum() and expanding_mean().

3.Exponentially Weighted Window: This function gives more weight to recent data points and less weight to older data points. Examples of exponentially weighted window functions include ewma() and ewmstd().

4.Cumulative Window: This function calculates the cumulative sum or product of the values in a window. Examples of cumulative window functions include cumsum() and cumprod().

Q.7 Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [12]:
import pandas as pd

# Get current date and time
now = pd.datetime.now()

# Extract month and year
month = now.month
year = now.year

# Print month and year
print("Current month and year: {}/{}".format(month, year))

Current month and year: 2/2023

C:\Users\hp\AppData\Local\Temp/ipykernel_17444/2810946741.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  now = pd.datetime.now()

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [14]:
import pandas as pd

# Prompt user to input dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert dates to datetime format
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate time difference
time_diff = date2 - date1

# Calculate days, hours, and minutes difference
days_diff = time_diff.days
hours_diff = time_diff.seconds // 3600
minutes_diff = (time_diff.seconds % 3600) // 60

# Display the result
print("Time difference is: {} days, {} hours, and {} minutes".format(days_diff, hours_diff, minutes_diff))

Enter the first date (YYYY-MM-DD): 2023-05-16
Enter the second date (YYYY-MM-DD): 2024-05-16
Time difference is: 366 days, 0 hours, and 0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# prompt user to enter file path and column name
file_path = input("Enter file path: ")
col_name = input("Enter column name: ")

# read CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# display original data
print("Original data:\n", df)

# prompt user to enter category order
cat_order_str = input("Enter category order (comma separated): ")
cat_order_list = cat_order_str.split(",")

# convert column to categorical data type with specified category order
df[col_name] = pd.Categorical(df[col_name], categories=cat_order_list, ordered=True)

# sort data by specified column
df_sorted = df.sort_values(by=col_name)

# display sorted data
print("Sorted data:\n", df_sorted)

In [ ]:
This program first prompts the user to enter the file path and column name of the CSV file containing the categorical data. 
It then reads the CSV file into a pandas DataFrame and displays the original data.

Next, the user is prompted to enter the category order of the specified column. The program splits the user input by comma to 
create a list of categories.

The program then converts the specified column to a categorical data type using the pd.Categorical() function, passing in the 
column data and the list of categories. The ordered=True parameter specifies that the categories have a natural ordering.

Finally, the program sorts the data by the specified column using the sort_values() method and displays the sorted data.

Note that this program assumes that the specified column contains categorical data and that the user inputs are valid.

10 Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt user for file path
file_path = input("Enter file path: ")

# Read CSV file into pandas dataframe
df = pd.read_csv(file_path)

# Convert date column to datetime datatype
df['Date'] = pd.to_datetime(df['Date'])

# Group data by product category and date, and sum the sales
grouped = df.groupby(['Product Category', 'Date']).sum()

# Pivot the data to create a stacked bar chart
stacked = grouped.unstack(level=0)
stacked.columns = stacked.columns.get_level_values(1)

# Create stacked bar chart
stacked.plot(kind='bar', stacked=True, figsize=(10,5))

# Set chart title and axis labels
plt.title('Sales by Product Category')
plt.xlabel('Date')
plt.ylabel('Sales')

# Show chart
plt.show()

The program first prompts the user for the file path of the CSV file containing the sales data. It then reads the CSV file into 
a pandas dataframe, converts the date column to a datetime datatype, groups the data by product category and date, and sums the
sales. The data is then pivoted to create a stacked bar chart, which is displayed using the matplotlib library. 
Finally, the chart is given a title and axis labels, and is displayed to the user.

In [ ]:
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

Ans-

import pandas as pd

# Prompt user for file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode()

# Display the results in a table
results = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                        'Value': [mean_score, median_score, list(mode_score)]})
print(results.to_string(index=False))

Output:
    
Enter the file path of the CSV file containing the student data: student_data.csv
    Statistic      Value
      Mean      82.0
    Median      82.0
      Mode      [85.0, 90.0]

# Name:Shivam Tyagi

# E-mail:shivam1612tygai@gmail.com

# Thank you!!