# 16th feb, 2023 Assignment ------------------------------------ Shivam Tyagi

Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
answer:
    
a database is an organized collection of data stored and accessed electronically. Small databases can be stored on a 
file system, while large databases are hosted on computer clusters or cloud storage.


SQL:

1. RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
2. These databases have fixed or static or predefined schema.
3. These databases are not suited for hierarchical data storage.
4. These databases are best suited for complex queries.
5. Vertically Scalable.

NoSQL:
    
1. Non-relational or distributed database system.
2. They have dynamic schema.
3. These databases are best suited for hierarchical data storage.
4. These databases are not so good for complex queries.
5. Horizontally scalable.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
answer:
    
1. DDL statements are similar to a computer programming language for defining data structures, especially database 
    schemas.
2. It simply deals with descriptions of the database schema and is used to create and modify the structure of database 
   objects in the database.
3. DDL is a set of SQL commands used to create, modify, and delete database structures but not data. 

CREATE: This command is used to create the database or its objects (like table, index, function, views, store 
        procedure, and triggers).
    
example:
     CREATE TABLE Subject
(
Sub_ID INT, 
Sub_Name varchar(20)
);


DROP: This command is used to delete objects from the database.
    
example:
    drop table subject
    
ALTER: This is used to alter the structure of the database.
    
example:
    ALTER TABLE subject MODIFY Sub_ID int;

TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.
    
example:
    TRUNCATE TABLE  subject;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation 
Language and this includes most of the SQL statements.

INSERT:The INSERT INTO statement of SQL is used to insert a new row in a table.

EXAMPLE:
    INSERT INTO Student VALUES (‘5′,’HARSH’,’WEST BENGAL’,’XXXXXXXXXX’,’19’);

UPDATE:The UPDATE statement in SQL is used to update the data of an existing table in database.
    
EXAMPLE:
    UPDATE Student SET NAME = 'PRATIK' WHERE Age = 20;

DELETE:The DELETE Statement in SQL is used to delete existing records from a table. 
    
EXAMPLE:
   DELETE FROM Student WHERE NAME = 'Ram';

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
1. DQL statements are used for performing queries on the data within schema objects. 
2. The purpose of the DQL Command is to get some schema relation based on the query passed to it. 
3. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and 
   imposing order upon it. It includes the SELECT statement. 

EXAMPLE:
    SELECT * FROM STUDENT;

Q5. Explain Primary Key and Foreign Key.

In [ ]:
primary key:

1. A primary key is used to ensure data in the specific column is unique.
2. It uniquely identifies a record in the relational database table.
3. Only one primary key is allowed in a table.
4. It is a combination of UNIQUE and Not Null constraints.
5. It does not allow NULL values.

Foregin key:

1. A foreign key is a column or group of columns in a relational database table that provides a link between data in 
   two tables.
2. It refers to the field in a table which is the primary key of another table.
3. Whereas more than one foreign key are allowed in a table.
4. It can contain duplicate values and a table in a relational database.
5. It can also contain NULL values.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Reyansh@123"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

<mysql.connector.connection.MySQLConnection object at 0x7f949956b520>
('information_schema',)
('leetcode',)
('mysql',)
('performance_schema',)
('sys',)
('test2',)

In [ ]:
A cursor keeps track of the position in the result set, and allows you to perform multiple operations row by row 
against a result set, with or without returning to the original table.

execute method executes the given database operation (query or command). The parameters found in the tuple or 
dictionary params are bound to the variables in the operation.

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.

# Name: Shivam Tyagi

# E-mail: shivam1612tyagi@gmail.com

# Thank You!!