# 23rd feb,2023 assignment --------------------------------- Shivam Tyagi

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [5]:
list=[4,8,15,16,23,42]
series=pd.Series(list)
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
type(series)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [10]:
lis=["shivam","goldi","divya","reyansh","diskhit","mohit","nishu","vinod","rita","suresh"]

In [11]:
len(lis)

10

In [12]:
series2=pd.Series(lis)

In [13]:
series2

0     shivam
1      goldi
2      divya
3    reyansh
4    diskhit
5      mohit
6      nishu
7      vinod
8       rita
9     suresh
dtype: object

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:
    name          age            gender
    alice         25             female
    bob.          30             male
    claire.       27             female

In [26]:
name=["Alice","Bob","Claire"]
name_series=pd.Series(name)

age=[25,30,27]
age_series=pd.Series(age)

gender=['female','male','female']
gender_series=pd.Series(gender)

frame = { 'Name':name_series, 'Age':age_series, 'Gender':gender_series }

#Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)
result

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
1. A DataFrame is a data structure that organizes data into a 2-dimensional table of rows and columns, much like a 
    spreadsheet. 
2. DataFrames are one of the most common data structures used in modern data analytics because they are a flexible 
    and intuitive way of storing and working with data.
    
Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say 
that a dataframe is a collection of series that can be used to analyse the data.

In [14]:
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
#Creating a Series by passing list variable to Series() function
auth_series = pd.Series(author)
#Printing Series
print(auth_series)

0    Jitender
1     Purnima
2       Arpit
3       Jyoti
dtype: object

In [16]:
type(auth_series)

pandas.core.series.Series

In [15]:
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]

#Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)

#Creating a dictionary by passing Series objects as values
frame = { 'Author': auth_series, 'Article': article_series }

#Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)

#Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

In [17]:
type(result)

pandas.core.frame.DataFrame

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of 
when you might use one of these functions?

In [ ]:
1. head()

the dataframe by using head() function also which is having an argument (n) i.e. number of rows to be displayed.

In [18]:
df=pd.read_csv("services.csv")

In [19]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [ ]:
2. shape()
Counting the rows and columns in DataFrame using shape(). It returns the no. of rows and columns enclosed in a tuple.

In [21]:
df.shape

(23, 22)

In [ ]:
3. describe()
Summary of Statistics of DataFrame using describe() method.

In [22]:
df.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [ ]:
4. tail()
give the last 5 record

In [23]:
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Answer: Dataframe, Panel

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [24]:
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]

#Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)

#Creating a dictionary by passing Series objects as values
frame = { 'Author': auth_series, 'Article': article_series }

#Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)

#Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

# Name: Shivam Tyagi

# E-mail: shivam1612tyagi@gmail.com

# Thank you!!